.footer {
    background: #000000;
    color: #ccc;
    width: 100%;
    height: 55px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*-webkit-justify-content: center;*/
    -ms-flex-pack: center;
    /*justify-content: center;*/
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer .footer-inside {
    width: 100%;
    display: flex;
    position: absolute;
}

.footer-text {
    display: inline-block;
    position: relative;
    right: 40px;
    bottom: -6px;
    font-size: 15px;
}

.rounded-social-buttons {
    text-align: left;
    width: 50%;
    margin: auto;
    margin-left: 30px!important;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    bottom: -3px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border: 1px solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 18px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:before {
    font-family: "FontAwesome";
    content: "";
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

.rounded-social-buttons .social-button.instagram {
    background: #c44f84;
}

.rounded-social-buttons .social-button.instagram:before {
    font-family: "FontAwesome";
    content: "";
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #c44f84;
    background: #fefefe;
    border-color: #c44f84;
}
